# IDEs & AI
/.idea/
/.vscode/
/.memory/
/.agents/
/.claude/
/skills-lock.json
/*.code-workspace
/*.md
!/README.md
!/README.*.md
!/CHANGELOG.md
!/THIRD-PARTY-NOTICES.md

# Environment
/.venv/
/.gradle/
/.intellijPlatform/

# Caches & Builds
/out/
/build/
/zoo.*/
